body{
    background-image: url(vote\ 9.jpg);
}
#headersection
{
padding: 10px;
padding-top: 230px;

}
#headersection
{
    font-family: 'Courier New', Courier, monospace;
}
input{
    padding: 10px;
    border-radius: 5px;

}
#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 12%

}
#Loginbtn{
    padding: 5px;
    border-radius: 5px;
    background-color: #191a1a;
    color: white;
    font-size: 15px;
}